.missionContainer {
  padding: 0 40px;
}

.missionTable {
  border: 2px solid gray;
  margin: 30px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid gray;
  padding: 5px;
}

th,
td {
  text-align: left;
  vertical-align: top;
  padding: 5px;
}

.joinBtn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid rgb(24, 20, 20);
  width: 120px;
  padding: 5px;
}

.leaveBtn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid rgb(197, 34, 34);
  color: red;
  width: 120px;
  padding: 5px;
}

.profileTable {
  border-collapse: collapse;
  padding: 5px;
  width: 400px;
  padding: 5px;
  margin: 20px;
}

.profileTable th {
  font-size: 25px;
}

.profileRow {
  display: block;
  padding: 25px;
  border: 0.1px solid rgb(207, 191, 191);
  font-size: 16px;
}
