.container {
  display: flex;
  margin: 0 6%;
}

.container div:nth-child(1) {
  margin: 20px 30px;
}

.img {
  width: 400px;
}

.details {
  padding-top: 10px;
}

.details button {
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 18px;
}

.reservedButton {
  border: transparent;
  background-color: #088df3;
  color: #fff;
}

.details span {
  background-color: #1AA1B9;
  color: #fff;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 4px;
  font-size: small;
}

.cancelledButton {
  background-color: #fff;
  color: gray;
  border: 1px solid gray;
}